# Dependencies and AdonisJS build
node_modules
build
tmp/*
!tmp/.gitkeep

# Secrets
.env
.env.local
.env.production.local
.env.development.local
.env.example
.env.test

# Frontend assets compiled code
public/assets

# Build tools specific
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea
.vscode

# Platform specific
.DS_Store
/docs/*
.electron/*
.vscode/*
.dbg/*
.calude/*
.trae/*
.agents/*
.adonisjs/*
.docs/*
tmp/*

dist-electron/*
resources/browsers/*
resources/rabbitmq/*
resources/redis/*
resources/sidecar/*
storage/*
